#sectionWrapper {
  background: black;
  color: whitesmoke;
  position: relative;
}

#textWrapper {
  width: 70%;
  background: red;

  display: flex;
  flex-direction: column;
}

#textWrapper p {
  font-size: 2vh;
  padding-bottom: 5%;
  padding-right: 15%;
}

#textWrapper h1 {
  padding: 7% 0%;
  font-size: 7vh;
}
