/* For all */
.mainContainer
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

#backgroundColor
{
    margin-top: 5%;
    background-color:#ebeeee;
}

#projectsHolder
{
    width: 100%;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#projectsHolder a:hover
{
    -webkit-filter: brightness(.20);
    filter: brightness(.20);
}

.imgStyle
{
    height: 7em;
    width: 7em;
    /* height: 12vw; */
    /* width: 12vw; */
}

#title
{
    color: #95A3A3;
    padding-top: 5%;
}

#seeMoreHolder
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#seeMoreHolder section
{
    margin: 0 5%;
}

/* For none mobile */
@media only screen and (min-width : 768px)
{
    .imgStyle
    {
        height: 12vw;
        width: 12vw;
    }

}



/* For mobile */
.imgStyle
{
    margin: 5% 0.5%;
}

#title
{
    font-size: 0.75em;
}

#seeMoreHolder section
{
    font-size: .7em;
}


/* For tablet */
@media only screen and (min-width: 768px)
{
    .imgStyle
    {
        margin-left:2.5% ;
        margin-right:auto ;
    }

    #title
    {
        font-size: 1.5em;
    }

    #seeMoreHolder section
    {
        font-size: 1em;
    }
}


/* For desktop */
@media only screen and (min-width: 1024px)
{
    #title
    {
        font-size: 2em;
    }
}
