.sectionClass
{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.rowClass
{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

#leftContent
{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#rightContent
{
    padding-left:7%;
    padding-right: 7%;
}

#bottomContent
{
    padding-top: 15%;
}