/* This is the div container which holds the texts within  */
#imgTexts 
{
  position: absolute;

  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);

  text-align: center;
}   

#imgTexts * 
{
  color: white;
}

/* Button holder. Targeting section cause SocialMediaButton uses a section tag to wrap the buttons*/
#buttonHolder section
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonHolder a:hover
{
  -webkit-filter: opacity(.5) drop-shadow(0 0 0 red);
  filter: opacity(.5) drop-shadow(0 0 0 red);
  cursor: pointer;
}


#buttonHolder a
{
  margin: 0 2.5%; 
}



/* Mobile */
/* #imgTexts h1 
{
  font-size: 7vh;
}

#imgTexts p 
{
  font-size: 4vh;
} */

#buttonHolder a
{
  width: 7vh;
  height: 7vh;
}


/* For mobile text */
/* (max-width: 768px)  and  */
@media only screen and (orientation: landscape)
{
  #imgTexts h1 
  {
    font-size: 2.5em;
  }

  #imgTexts p 
  {
    font-size: 1em;
  }

}

/* and (max-width : 768px) */
@media only screen and (orientation : portrait)
{
  #imgTexts h1 
  {
    font-size: 2.5em;
  }

  #imgTexts p  
  {
    font-size: 1em;
  }
}


/* For tablet text */
@media only screen and (min-width: 768px ) and (min-height: 500px) and (orientation: landscape)
{
  #imgTexts h1 
  {
    font-size: 5em;
  }

  #imgTexts p 
  {
    font-size: 1.3em;
  }
}

@media only screen and (min-width : 768px ) and (orientation : portrait)
{
  #imgTexts h1 {
    font-size: 5em;
  }

  #imgTexts p {
    font-size: 1.5em;
  }
}

/* For desktop text size*/
@media only screen and (min-width: 1024px ) and (orientation: landscape)
{
  #imgTexts h1 
  {
    font-size: 5em;
  }

  #imgTexts p 
  {
    font-size: 1.75em;
  }
}


@media only screen and (min-width : 1024px ) and (orientation : portrait)
{
  #imgTexts h1 {
    font-size: 5em;
  }

  #imgTexts p {
    font-size: 1.75em;
  }
}



