.navWrapper * {
  text-decoration: none;
}

.navWrapper {
  /* Debug */
  /* background-color: blue; */

  z-index: 10;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  position: fixed;
  left: 50%;
  top: 2.5%;
  transform: translate(-50%, -50%);
}

.navWrapper a {
  margin-left: 1em;
  margin-right: 1em;

  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-size: 1.5vw;
  text-transform: uppercase;
}
