#navBarMobileContainer
{
   display: block;
}

.transition
{
   transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
}

#darkOverlay
{
   background-color: black;
   opacity:0;
   width: 100vw;
   height: 100vh;

   position: fixed;
   z-index: 11;
}

/* Add this to dark overlay */
.showOverlay
{
   opacity: .5!important;
}





















/* desktop */
@media only screen and  (min-width: 1024px) 
{
   #navBarMobileContainer
   {
      display: none;
   }
}
