.headerClass
{
    box-sizing: border-box;

    /* Debug */
    /* background-color: red; */

} 

.headerClass *
{
    /* Styles */
    text-decoration:none;
    list-style: none;
}



/* NavBar */
.headerClass .navContainer
{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.headerClass .navContainer a
{
    padding:  0.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: 125%;
}


/* Image  */
.headerClass .imageContainer
{
    display:flex;
    justify-content: center;

}

.headerClass .imageContainer img
{
    width: 60%;

}


